@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --cyan: hsl(179, 62%, 43%);
  --bright-yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
}

body {
  position: relative;
  font-family: 'Karla', sans-serif;
  font-size: 15px;

  background: var(--light-gray);
}

.container {
  height: 95vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 3rem;
}

/* .container::before {
  content: '';
  position: absolute;
  width: 1440px;
  height: 800px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: url('design/desktop-design.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;

  opacity: 1;
} */

/* //CSS LAYOUT */
.box {
  max-width: 630px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 4fr 5fr;

  background: #fff;
  border-radius: 0.5rem;
  overflow: hidden;

  /* opacity: 0.4; */
  margin-top: 2.125rem;
  box-shadow: 0 10px 15px hsla(0, 0%, 0%, 0.1);
}

.top-part,
.left,
.right {
  padding: 2.6rem 2.5rem;
}

.top-part {
  background-color: #fff;
  grid-column: 1 / -1;
  height: 215px;
}

.bottom-part {
  grid-column: 1/-1;
  grid-row: 2/-1;
  height: 260px;
  width: 100%;
}

.left {
  grid-column: 1/2;

  background: hsl(180, 61%, 44%);
}
.right {
  grid-column: 2/3;
  background: hsl(180, 47%, 52%);
}

/* //CSS INSIDE BOX */
h1 {
  color: var(--cyan);
  margin-bottom: 1.5rem;
  letter-spacing: 0.3px;
}

.top-heading {
  font-weight: 700;
  font-size: 17px;
  letter-spacing: 0.28px;
  color: var(--bright-yellow);
  margin-bottom: 1rem;
}

.description {
  line-height: 1.7;
  letter-spacing: 0.5px;
  color:hsla(0,0%,0%,.50);
}

.left,
.right {
  color: #fff;
}

.left-headig {
  font-size: 18px;
  color: #fff;
  margin-bottom: 1.3rem;
}

.pricing {
  font-weight: 400;
  display: flex;
  align-items: center;
  column-gap: 0.8rem;
  margin-bottom: 0.5rem;
  letter-spacing: 0.3px;
  color:hsla(0,100%,100%,.5);
}

.pricing span {
  font-size: 30px;
  font-weight: 700;
  color:hsla(0,100%,100%,1);
}

.pricing-description {
  letter-spacing: 0.29px;
  margin-bottom: 2rem;
}

.left a {
  text-decoration: none;
  color: #fff;
  background: var(--bright-yellow);
  padding: 0.65rem 1.51rem;
  border-radius: 0.3rem;
  display: block;
  text-align: center;
  font-size: 18px;
  letter-spacing: -0.4px;
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
}

.right-heading {
  font-size: 20px;
  margin-bottom: 1.2rem;

}

.right ul li {
  list-style: none;
  line-height: 1.5;
  font-size: 13px;
  font-weight: 100;
  letter-spacing: .3px;
  color:hsla(0,100%,100%,.6);
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding-bottom: 1rem;
  font-weight: 700;

}
.attribution a {
  color: var(--cyan);
  text-decoration: none;
}

.attribution a:hover {
  color:var(--bright-yellow)
}

@media screen and (max-width: 767px) {
  .container{
    max-height: 95vh;
  }

  .box {
    max-width: 90%;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: inherit;
    margin-top: 0;
  }

  .top-part,
  .left,
  .right {
    padding: 1.6rem ;
  }

  .top-part {
    background-color: #fff;
    grid-column: 1/ span 2;
    height: min-content;

  }

  .top-heading {
    letter-spacing: 0px;
  }

  .description{
    letter-spacing: 0
  }

  .bottom-part {
    height: min-content;
  }

  .left {
    grid-column: 1/ span 2;
    height: 100%;
    background: hsl(180, 61%, 44%);
  }
  .right {
    grid-column: 1/ span 2;;
    height: min-content;
    background: hsl(180, 47%, 52%);
  }
}
